 Header{
    filter: brightness(700%);
 }

.form-box{
    width: 500px;
    height:470px;
    background: #ffffff;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 350px;
    padding-top:20px;
}
.input-group{
    margin-top:10px;
    margin-left: 60px;
    width: 280px;
    line-height:13px;
    transition: .5s;
}
.input-fields{
    text-align: center;
    padding:12px 100px;
    margin-bottom: 7px;
    border-left:0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background:transparent;
}
::placeholder{
    color:gray;
}
.submit-btn{
    margin-top:10px;
    margin-bottom: 10px;
    width: 380px;
    height: 50px;
    left: 490px;
    top: 609px;
    border-radius: 5px;
    border:none;
    background: #F9A51A;
}
.googleOrFb{
    margin-top: 45px;
    margin-left: 35px;
    text-align: center;
}
.googleOrFb button{
   margin-left: 5px;
   background:#ffff;
   color:gray;
   font-size: 15px;
}
.avater{
    margin-left:px;
}
.orLine{
    margin-top:10px;
    margin-left: 250px;
    font-size: 18px;
    color:white;
}
.error-show{
     color: #bf1650;
}
.error-show::before {
    display: inline;
    content: "⚠ ";
}  
.error-shows{
    color: #bf1650;
}