.sigIn-section{
    margin-top:35px;
}
.verify{
    background-color:#F9A51A;
    border-radius: 8px;
}
.checkBox{
    margin-top: 15px;
  
}
.input-box{
    width: 650px;
    height: 375px;
    background: #ffffff;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 350px;
    padding-top:20px;
}
.anotherGoogleOrFb{
    margin-top: 55px;
    margin-left:0px;
    text-align: center;
}
.anotherGoogleOrFb button{
    margin-top: 15px;
  margin-left: 5px;
   background:#ffff;
   color:gray;
   font-size: 15px;
}
.checkbox-light{
    margin-right: 5px;
}
.forgetPassword{
    margin-right:100px;
}