.hotelInformation{
    width:50%;
}
.hotel-container{
     border-radius:5px;
     background-color:beige;
    
     padding-left: 80px;
     padding-right: 80px;
     padding-bottom: 10px;
}
.google-map{
    text-align: center;
    margin-left:50px;
}